# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# MacOS
.DS_Store

# Logs
*.log

# Large ML files
*.pt
*.pth
*.h5
*.ckpt

# Data files
*.csv
*.tsv
*.xlsx
data/

# Images / videos (if large)
*.png
*.jpg
*.jpeg
*.mp4

# Model outputs
outputs/
checkpoints/

# IDE
.vscode/
.idea/